<%- include("partials/header.ejs") %>

<div class="container">
    <div class="viewBlog-header">
      <h1 class="title-details"><%= blogDetails?.cardTitle %></h1>
    </div>
    <div class="description-details">
      <p><%= blogDetails?.cardDescription %></p>
    </div>
  </div>

  <%- include("partials/footer.ejs") %>