<%- include("partials/header.ejs") %>

<img class="landing-img" src="/images/landing.avif">

<h2 class="programming">Programming Blogs</h2>

<div class="cards-div">
    <div class="card-container" >
    <img class="card-img" src="images/art-of-programming.avif" href="#">
    <h2 class="card-title">Code Craft: Mastering the Art of Programming</h2>
    <h4 class="card-description">Dive deep into the world of coding with expert tips, tutorials, and best practices for developers of all levels.
         From beginner to advanced, learn how to write clean, efficient, and maintainable code.</h4>
         <a class="read-more" href="/code-craft">Read More</a>
        </div>

        <div class="card-container" >
            <img class="card-img" src="images/python.avif" href="#">
            <h2 class="card-title">Python Prodigy: Unlocking the Power of Python</h2>
            <h4 class="card-description">A comprehensive blog dedicated to everything Python. Whether you're a novice or a seasoned developer,
                 find tutorials, project ideas, and advanced programming concepts to enhance your Python skills.</h4>
                 <a class="read-more" href="/python">Read More</a>
                </div>

                <div class="card-container" >
                    <img class="card-img" src="images/dev-ops.webp" href="#">
                    <h2 class="card-title">DevOps Daily: Streamlining Development and Operations</h2>
                    <h4 class="card-description">Stay ahead in the fast-paced world of DevOps.
     Explore the latest tools, techniques, and strategies to optimize your development and operational workflows, 
     and ensure smooth and efficient software delivery.</h4>
                         <a class="read-more" href="/dev-ops">Read More</a>
                        </div>
</div>

<!-- <a href="/programming-blogs" type="button" class="read-all">Read all blogs</a> -->

<%- include("partials/footer.ejs") %>